@import "core/reset";

.header {
  text-align: center;
  padding: 50px;
}
.filters {
  text-align: center;
}
.quote_card {
  color:black;
  border:solid 2px black;

}
.container {
  display: flex;
  border:solid 2px black;
}
